@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white dark:bg-gray-700 scroll-ff;
  }

  .scroll-ff {
    scrollbar-face-color: rgb(176, 88, 54); /* Firefox 63 compatibility */
    scrollbar-track-color: rgb(51, 62, 72); /* Firefox 63 compatibility */
    scrollbar-color: rgb(22, 163, 74) rgb(82, 82, 82);
  }

  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #e5e5e5;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #4aa14f;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #008531;
  }

  .scrollbar-dark::-webkit-scrollbar-track {
    background: #666666;
  }

  .sidebar-nav {
    @apply fixed flex flex-row bottom-0 w-screen h-16 justify-center
           md:w-16 md:flex-col md:h-screen          
           dark:bg-gray-800  dark:text-white  
           bg-green-600 text-white 
           shadow-lg px-0;
  }
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mx-auto md:mx-2 my-2  
           bg-green-700 text-white fill-white   hover:bg-green-200 hover:text-green-700 hover:fill-green-500
           dark:bg-gray-700 dark:text-green-500 dark:fill-green-500 dark:hover:bg-green-600 dark:hover:text-white dark:hover:fill-white 
           rounded-3xl hover:rounded-xl shadow-lg 
           cursor-pointer
           transition-all duration-300 ease-linear;
  }
  .sidebar-icon.router-link-active {
    @apply dark:bg-green-800 dark:fill-white dark:text-white rounded-md 
           bg-green-200 text-green-700 fill-green-500
           duration-200
           cursor-auto;
  }
}
